html {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(31, 27, 31);
    min-height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    display: flex;
    background-color: rgb(65, 37, 65);
    color: white;
    flex: 15%;
    padding: 10px;
}

header h1 {
    flex: 95%;
    margin: auto;
    text-align: center;
}

header div {
    flex: 5%;
    align-self: center;
    margin-right: 20px;
    margin: auto;
}

#github-icon{
    height: 100%;
    width: auto;
}

#github-icon img {
    height: 100%;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

#github-icon img:hover{
    filter:  invert(100%);
}

.flex-container {
    display: flex;
    flex: 85%;
}


@media (max-width: 1000px) {
    .flex-container {
        flex-direction: column-reverse;
    }
}

.flex-item {
    flex: 50%;
    padding: 10px 15px;
}

#graph-canvas {
    width: 100%;
    height: auto;
    background-color: rgb(214, 214, 214);
    margin: auto;
    border-radius: 10px;
}

#settings-container {
    background-color: rgb(214, 214, 214);
    width: 100%;
    height: auto;
    margin: auto auto auto auto;
    border-radius: 10px;
}

#settings-form-react {
    padding: 20px;
}

#settings-form {
    padding: 20px;
}

button, input[type=submit]{
    margin-right: 20px;
    margin-bottom: 20px;
    float: right;
    border: none;
    background-color: rgb(0, 140, 255);
    color: white;
    padding: 5px 10px;
    font-size: 100%;
}

button:hover, input[type=submit]:hover {
    background-color: rgb(0, 69, 126);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

div.category {
    border-top: solid;
    display: flex;
    border-width: 1px;
    padding: 10px;
    border-color: rgb(187, 187, 187);
}

#colors input {
    margin: 0 4px 0 4px;
}